.container {
    width: 100%;
    max-width: 120px;
    margin: 0 auto;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}
footer nav h2 {
    color: #2F281E;
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
footer nav a {
    color: #544837;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    text-decoration: unset;  
}
form h2 {
    color: #2F281E;
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;   
}
form input {
    border-radius: 4px;
    border: 1px solid #BCD0E5; 
    color: #BCD0E5;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    display: flex;
    width: 340px;
    height: 50px;
    padding: 0 10px;
    align-items: center;
    gap: 10px;    
}
form button {
    display: flex;
    width: 180px;
    height: 50px;
    padding: 13px 40px;
    justify-content: center;
    align-items: center;
    border: unset;
    border-radius: 4px;
    background: #F90; 
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}
