.container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid #828282;
}
nav {
    width: 496px;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
li 
a {
    color: #828282;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    text-decoration: unset;
}
.container-about {
    background:#F6F6F6;
    height: 500px;
}

.skills {
    max-width: 970px;
    margin: 0 auto;
    padding: 100px 0 101px 0;
}     
h1 {
    color:#070707;
    font-family: Open Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
h2 {
    color:#070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
p {
    color:#070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px 0 50px 0;
}
br {
    color:#070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.portfolio .items {
    display: flex;
    flex-direction: column;
}
.items {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}
footer h2 {
    color:#070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px;
}
footer p {
    color:#070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 60px;
    max-width: 280px;
    width: 100%;
}
footer button {
    border-radius: 22px;
    background:#070707;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    margin: 30px;
    width: 148px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul {
display: flex;
gap: 50px;
margin-bottom: 60px;
}
footer span {
color: #828282;
text-align: center;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 200px;
width: 100%;
}